.header{
    width: 100%;
    height: 60vh;
    background-image: url(./../../../public/assets/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.article-header--title{
    font: 600 2rem 'Montserrat', sans-serif;
}